.exp-2col {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    gap: 1.5rem;
    align-items: flex-start;
}

.company {
    border: 0;
    margin-bottom: 0;
    margin-top: 0.5rem;
}

.position {
    margin-bottom: 0.4rem;
    margin-top: 0;
}

.responsibilities {
    padding-bottom: 0;
    padding-top: 0;
    margin: 0;
}

.exp-item {
    margin-bottom: 0.1rem;
}

.skills-adaptive {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 0;
    align-items: center;
}

.skills-adaptive .skill {
    display: flex;
    align-items: center;
}

.skills-adaptive .skill:not(:last-child)::after {
    content: "•";
    font-weight: 900;
    margin: 0 10px;
    color: #333;
}

/* Для мобильных */
@media (max-width: 768px) {
    .skills-adaptive .skill:not(:last-child)::after {
        margin: 0 6px;
    }
}


